pandas
pandas-market-calendars
quandl
ta-lib
beautifulsoup4
ipykernel
requests
scikit-learn
scipy
seaborn
squarify
plotly-express
tqdm
selenium
python-dotenv
xlrd
openpyxl
lxml
html5lib
PyGithub
gitpython
yfinance
h5py
progressbar